@media(min-width:450px){
  .Blog-Title {
      font-size: 2rem;
  }
}

.Container-Blog {
  width: 100%;
  margin: 0 auto;
}

.Blog-Image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.Blog-Title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-size: 3rem;
  white-space: nowrap;
}

.blog-card {
  padding: 0;
  border: none;
  transition: all 0.3s ease;
}

.Blog_Card-Img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.blog-card a {
  color: red !important;
  cursor: pointer;
}

.image-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.image-wrapper:hover .Blog_Card-Img {
  transform: scale(1.1);
}

.image-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c1239;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.image-wrapper:hover::after {
  opacity: 0.5;
}

@media(max-width:1353px) {
  .blog-card {
      width: 30rem !important;
  }
}

@media(max-width:1001px) {
  .blog-card {
      width: 25rem !important;
  }
}

@media(max-width:842px) {
  .blog-card {
      width: 94% !important;
  }
}

.entry-time {
  position: absolute;
  width: 55px;
  height: 55px;
  padding: 8px 0;
  top: 10px;
  left: 10px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.entry-time span {
  display: block;
  line-height: 1.2;
}

.Blog_Row {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 50px 0;
}
